/* kiwi-maru */
/* https:/github.com/aaronbell/Kiwi-Maru/ */

@font-face {
    font-family: "kiwi-light";
    src: url("./fonts/KiwiMaru-Light.ttf");
}

@font-face {
    font-family: "kiwi-medium";
    src: url("./fonts/KiwiMaru-Medium.ttf");
}

@font-face {
    font-family: "kiwi-regular";
    src: url("./fonts/KiwiMaru-Regular.ttf");
}

/* dosis */
/* https://github.com/impallari/Dosis */

@font-face {
    font-family: "dosis-medium";
    src: url("./fonts/Dosis-Medium.ttf");
}

@font-face {
    font-family: "dosis-bold";
    src: url("./fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "dosis-light";
    src: url("./fonts/Dosis-Light.ttf");
}

@font-face {
    font-family: "dosis-book";
    src: url("./fonts/Dosis-Book.ttf");
}

/* spartan */
/* https://github.com/MattBaileyDesign/Spartan-MB */


@font-face {
    font-family: "spartan-regular";
    src: url("./fonts/SpartanMB-Regular.ttf");
}

@font-face {
    font-family: "spartan-light";
    src: url("./fonts/SpartanMB-Light.ttf");
}

@font-face {
    font-family: "spartan-medium";
    src: url("./fonts/SpartanMB-Medium.ttf");
}

@font-face {
    font-family: "spartan-thin";
    src: url("./fonts/SpartanMB-Thin.ttf");
}

@font-face {
    font-family: "spartan-bold";
    src: url("./fonts/SpartanMB-Bold.ttf");
}