/* kiwi-maru */
/* https:/github.com/aaronbell/Kiwi-Maru/ */

@font-face {
    font-family: "kiwi-light";
    src: url("https:/raw.githubusercontent.com/aaronbell/Kiwi-Maru/master/fonts/ttf/KiwiMaru-Light.ttf");
}

@font-face {
    font-family: "kiwi-medium";
    src: url("https:/raw.githubusercontent.com/aaronbell/Kiwi-Maru/master/fonts/ttf/KiwiMaru-Medium.ttf");
}

@font-face {
    font-family: "kiwi-regular";
    src: url("https:/raw.githubusercontent.com/aaronbell/Kiwi-Maru/master/fonts/ttf/KiwiMaru-Regular.ttf");
}

/* dosis */
/* https://github.com/impallari/Dosis */

@font-face {
    font-family: "dosis-medium";
    src: url("https://raw.githubusercontent.com/impallari/Dosis/master/fonts/v1007%20Fontlab%20-%20Original/TTF/Dosis-Medium.ttf");
}

@font-face {
    font-family: "dosis-bold";
    src: url("https://raw.githubusercontent.com/impallari/Dosis/master/fonts/v1007%20Fontlab%20-%20Original/TTF/Dosis-Bold.ttf");
}

@font-face {
    font-family: "dosis-light";
    src: url("https://raw.githubusercontent.com/impallari/Dosis/master/fonts/v1007%20Fontlab%20-%20Original/TTF/Dosis-Light.ttf");
}

@font-face {
    font-family: "dosis-light";
    src: url("https://raw.githubusercontent.com/impallari/Dosis/master/fonts/v1007%20Fontlab%20-%20Original/TTF/Dosis-Book.ttf");
}

/* spartan */
/* https://github.com/MattBaileyDesign/Spartan-MB */


@font-face {
    font-family: "spartan-regular";
    src: url("https://raw.githubusercontent.com/MattBaileyDesign/Spartan-MB/tree/V-1.006/Fonts/TTF/SpartanMB-Regular.ttf");
}

@font-face {
    font-family: "spartan-light";
    src: url("https://raw.githubusercontent.com/MattBaileyDesign/Spartan-MB/tree/V-1.006/Fonts/TTF/SpartanMB-Light.ttf");
}

@font-face {
    font-family: "spartan-medium";
    src: url("https://raw.githubusercontent.com/MattBaileyDesign/Spartan-MB/tree/V-1.006/Fonts/TTF/SpartanMB-Medium.ttf");
}

@font-face {
    font-family: "spartan-thin";
    src: url("https://raw.githubusercontent.com/MattBaileyDesign/Spartan-MB/tree/V-1.006/Fonts/TTF/SpartanMB-Thin.ttf");
}

@font-face {
    font-family: "spartan-bold";
    src: url("https://raw.githubusercontent.com/MattBaileyDesign/Spartan-MB/tree/V-1.006/Fonts/TTF/SpartanMB-Bold.ttf");
}
